# Python
*.pyc
__pycache__

# {{cookiecutter.app_type.upper()}} local settings
/src/project/settings/local.py

# Docker local settings
/.env
/docker.env
/netrc

# IDE settings
.vscode
.idea

# Virtualenv
/venv/
/.tox

# corpusops & ansible
*.retry
/.ansible/scripts/ansible_deploy_env
/local/
